<!-- parts from https://medium.com/analytics-vidhya/how-to-deploy-digit-recognition-model-into-drawing-app-6e59f82a199c 
     and https://flask.palletsprojects.com/en/2.3.x/ -->
<!doctype html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digits Classifier</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body onload="load_processed_image();">
    <div class="row" style="padding: 0 !important; margin: 0 !important;">
        <div class="column" style="margin-right: 2%;">
            <div class="picker" style="height: 25%;">
                <h1>Choose a classifier:</h1>
                <button id="naive_bayes" class="picker_button">Naive Bayes</button>
                <button id="neural_network" class="picker_button">Neural Network</button>
            </div>
            <div style="height: 73%; margin-top: 2%">
                <div class="internal_column" style="align-items: center">
                    <div class="processed_image_container" style="height: 100%; margin-right: 2%;">
                        <h1>Preprocessed Image:</h1>
                        <img id="processed_image" src="{{ processed_image }}">
                    </div>
                </div>
                <div class="internal_column" >
                    <div class="results" style="height: 100%; margin-left: 2%;">
                        <h1>Prediction: <span style="color:gold"> {{ response }} </span> </h1>
                        <p>
                            Percentages:
                            <br>
                            <br>
                            {% for item in percentages %}
                                {% if loop.index0 == 0 %}
                                    <b> <span style="color:gold"> {{ item }} </span> </b>
                                {% elif loop.index0 == 1 %}
                                    <b> <span style="color:#C0C0C0"> {{ item }} </span> </b>
                                {% elif loop.index0 == 2 %}
                                    <b> <span style="color:#CD7F32"> {{ item }} </span> </b>
                                {% else %}
                                    {{item}}
                                {% endif %}
                                <br>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column" style="align-items: center; margin-left: 2%;">
            <div class="row" style="width: 100%; text-align: center; padding-bottom: 0; padding-top: 1%;">
                <button class="canvas_button" id="clear">Clear</button>
                <button class="canvas_button" id="draw">Draw</button>
                <button class="canvas_button" id="erase">Erase</button>
            </div>
            <div class="canvasContainer" style="align-items: center; padding-top: 0; margin-top: 0">
                <form id="canvasForm" action="/" method="POST">
                    <div class="row" style="width: 100%;">
                        <input type="hidden" id="canvasimg" name="canvasimg">
                        <input type="hidden" id="canvasdata" name="canvasdata" value="{{ canvasdata }}">
                        <canvas id="canvas" width="830" height="830" value="{{ canvasdata }}"></canvas>

                        <!-- input for keeping track of which canvas button was clicked last -->
                        <input type="hidden" id="last_canvas_button_clicked" name="last_canvas_button_clicked" value={{lastcanvasbuttonclicked}}>

                        <!-- input for keeping track of which picker button was clicked last -->
                        <input type="hidden" id="last_picker_button_clicked" name="last_picker_button_clicked" value="{{ lastpickerbuttonclicked }}">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        /* 
            Canvas Drawing 
        */
        window.addEventListener('load', ()=>{
            const canvas = document.querySelector('#canvas');
            const context = canvas.getContext('2d');

            const canvasdata = document.querySelector('#canvasdata').value;
            if (canvasdata){
                const image = new Image();
                image.onload = ()=>{
                    context.drawImage(image, 0, 0);
                };
                image.src = canvasdata;
            } else {
                context.fillStyle = "black";
                context.fillRect(0, 0, canvas.width, canvas.height);
            }

            let radius = 36;
            let start = 0;
            let end = Math.PI * 2;
            let dragging = false;

            context.lineWidth = radius * 2;
            context.lineCap = 'round';

            const putPoint = (e)=>{
                if (dragging){
                    context.lineTo(e.offsetX, e.offsetY);
                    context.stroke();
                    context.beginPath();
                    context.arc(e.offsetX, e.offsetY, radius, start, end);
                    context.fill();
                    context.beginPath();
                    context.moveTo(e.offsetX, e.offsetY);
                }
            }

            const engage = (e)=>{
                dragging = true;
                putPoint(e);
            }

            const disengage = ()=>{
                dragging = false;
                context.beginPath();
            }

            canvas.addEventListener('mousedown', engage);
            canvas.addEventListener('mousemove', putPoint);
            canvas.addEventListener('mouseup', disengage);


            /*
                Canvas Buttons
            */

            // Clear
            const clear = document.querySelector('#clear');
            clear.addEventListener('click', ()=>{
                const canvas = document.querySelector('#canvas');
                const context = canvas.getContext('2d');
                context.fillStyle = "black";
                context.fillRect(0, 0, canvas.width, canvas.height);
                radius = 36;

                // make the draw button red after refresh, i.e. last clicked
                document.getElementById('last_canvas_button_clicked').value ='draw';
                
                // update the canvasimg input
                canvastoimage(); 
                // submit the form programmatically to update classification
                document.getElementById('canvasForm').submit(); 
            });

            // Draw
            const draw = document.querySelector('#draw');
            draw.addEventListener('click', ()=>{
                const canvas = document.querySelector('#canvas');
                const context = canvas.getContext('2d');
                context.fillStyle = "white";
                context.strokeStyle = "white";
                radius = 36;

                document.getElementById('last_canvas_button_clicked').value = 'draw';
            });

            // Erase
            const erase = document.querySelector('#erase');
            erase.addEventListener('click', ()=>{
                const canvas = document.querySelector('#canvas');
                const context = canvas.getContext('2d');
                context.fillStyle = "black";
                context.strokeStyle = "black";
                radius = 40;

                document.getElementById('last_canvas_button_clicked').value = 'erase';
            });


            /*
                Picker Buttons
            */
            // Naive Bayes
            const naive_bayes = document.getElementById('naive_bayes');
            naive_bayes.addEventListener('click', ()=>{
                // update the last clicked picker button
                document.getElementById('last_picker_button_clicked').value = 'naive_bayes';

                // update the canvasimg input
                canvastoimage();

                // submit the form programmatically to update classification
                document.getElementById('canvasForm').submit();
            });

            // Neural Network
            const neural_network = document.getElementById("neural_network");
            neural_network.addEventListener('click', ()=>{
                // update the last clicked picker button
                document.getElementById('last_picker_button_clicked').value = 'neural_network';

                // update the canvasimg input
                canvastoimage();

                // submit the form programmatically to update classification
                document.getElementById('canvasForm').submit();
            });


            // make a 'POST' request when the mouse is lifted
            canvas.addEventListener('mouseup', () => {
                // update the canvasimg input
                canvastoimage();
                // submit the form programmatically
                document.getElementById('canvasForm').submit(); 
            });

            
            /* Initialise the canvas button colors properly */
            lastcanvasbuttonclicked = document.getElementById('last_canvas_button_clicked').value;
            if (lastcanvasbuttonclicked == 'draw') {
                document.getElementById('draw').click();
            }
            else{
                document.getElementById('erase').click();
            }

            /* Initialise the picker button colors properly */
            lastpickerbuttonclicked = document.getElementById('last_picker_button_clicked').value;
            if (lastpickerbuttonclicked == 'naive_bayes') {
                // update the last clicked picker button
                document.getElementById('last_picker_button_clicked').value = 'naive_bayes';
                document.getElementById('naive_bayes').classList.add('clicked');
            }
            else{
                // update the last clicked picker button
                document.getElementById('last_picker_button_clicked').value = 'neural_network';
                document.getElementById('neural_network').classList.add('clicked');
            }
        });

        /* Submit Canvas Changes */
        const canvastoimage = ()=>{
            // update the drawn canvas image
            const canvas = document.querySelector('#canvas');
            document.getElementById('canvasimg').value = canvas.toDataURL();
        };


        /* The Clicked Canvas Button Turns Red */
        const canvas_buttons = document.querySelectorAll('.canvas_button');
        canvas_buttons.forEach(button => {
            button.addEventListener('click', () => {
                // Remove the "clicked" class from all buttons
                canvas_buttons.forEach(b => b.classList.remove('clicked'));

                // Add the "clicked" class to the clicked button if needed
                if (button.textContent != 'Clear'){
                    button.classList.add('clicked');
                }
                else {
                    document.getElementById('draw').classList.add('clicked');
                }
            });
        });


        /* The Clicked Picker Button Turns Red */
        const picker_buttons = document.querySelectorAll('.picker_button');
        picker_buttons.forEach(button => {
            button.addEventListener('click', () => {
                // Remove the "clicked" class from all buttons
                picker_buttons.forEach(b => b.classList.remove('clicked'));

                // Add the "clicked" class to the clicked button if needed
                button.classList.add('clicked');
            });
        });
    </script>
</body>